<div class="room-image">
  <img src="/images/story/intro_dark_forest.jpg" alt="" class="room-image" />
</div>

<div class="game-text card p-1">
  <p id="ending-text"></p>
</div>

<div>
  <button class="start-btn btn btn-success">Click to Start</button>
</div>

<script src="/js/intro.js"></script>