<div class="room-image">
  <img src="https://placehold.co/1000x500" alt="" class="room-image" />
</div>

<div class="game-text">
  <p id="nar">
    As you push open the creaking wooden door, you find yourself stepping into a
    some sort of living room that exudes a rustic charm. The hearth at the
    center of the room crackles with dancing flames, casting a warm and
    flickering light across the stone walls. The air is tinged with the
    comforting scent of burning firewood. The comfort is cut short as you see a
    large metallic door opposite of you. This door bears 3 large adornments that
    vertically descend the middle of the door. The top emblem shaped like a
    book, the middle shaped like a potion vial, and the last ominously shaped as
    a skull...
  </p>
</div>

<div>
  <form class="player-choices-form">
    <button id="choice1" class="choice-btn">Go to the table</button>
    <button id="choice2" class="choice-btn">Go to the door</button>
    <button id="choice3" class="choice-btn">Go to the chest</button>
    <button id="choice4" class="d-none choice-btn">Choice</button>
  </form>
</div>

<script src="/js/roomEnd.js"></script>