<div class="room-image">
  <img src="https://placehold.co/1000x500" alt="" class="room-image" />
</div>

<div class="game-text">
  <p id="nar">Escape narration goes here</p>
</div>

<div>
  <form class="player-choices-form">
    <button id="choice1" class="choice-btn">Go to the table</button>
    <button id="choice2" class="choice-btn">Go to the door</button>
    <button id="choice3" class="choice-btn">Go to the chest</button>
    <button id="choice4" class="d-none choice-btn">Choice</button>
  </form>
</div>

<script src="/js/roomEnd.js"></script>