<div class="room-image">
  <img src="https://placehold.co/500x500" alt="" class="room-image" />
</div>

<div class="game-text card">
  <p id="intro-text"></p>
</div>

<div>
  <button class="start-btn btn btn-success">Click to Start</button>
  <button type="button" id="next-button">NEXT</button>
</div>

<script src="/js/intro.js"></script>