{{!-- <div class="room-image">
  <img src="https://placehold.co/1000x500" alt="" class="room-image" />
</div>

<div class="game-text">
  <p id="nar">As you enter the room you see that it is virtually split into two.
    One side contains bookshelves all the wayt to the ceiling, filled with
    different books of all shapes and sizes. Immediately in front of the shelves
    are two small wooden tables whose surfaces are covered in open tomes. Across
    from small library you see a large table with shelves hanging above it. Upon
    the weathered wooden surface of the table, an array of flasks, an alembic,
    and a mortar and pestle catch the ambient light. Showcasing an assortment of
    colorful liquids. On the shelves above is a rainbow of more vibrant potion
    vials. Each container meticulously labeled with arcane symbols and cryptic
    runes. You stand in between these two sections...
  </p>
</div>

<div>
  <form class="player-choices-form">
    <button id="choice1" class="choice-btn">Go to the table</button>
    <button id="choice2" class="choice-btn">Go to the door</button>
    <button id="choice3" class="choice-btn">Go to the chest</button>
    <button id="choice4" class="d-none choice-btn">Choice</button>
  </form>
</div> --}}



<div class="row d-flex justify-content-between">
  <div class="col-md-2 d-none d-sm-block card history">
    <h2 class="text-center">History</h2>
  </div>
  <div class="col-md-6 d-flex flex-column align-items-center screen">
    <img class="game-screen mb-3" width="700" src="/images/story/library.jpg" />
    <p id="nar" class="card w-100">
    As you enter the room you see that it is virtually split into two.
    One side contains bookshelves all the wayt to the ceiling, filled with
    different books of all shapes and sizes. Immediately in front of the shelves
    are two small wooden tables whose surfaces are covered in open tomes. Across
    from small library you see a large table with shelves hanging above it. Upon
    the weathered wooden surface of the table, an array of flasks, an alembic,
    and a mortar and pestle catch the ambient light. Showcasing an assortment of
    colorful liquids. On the shelves above is a rainbow of more vibrant potion
    vials. Each container meticulously labeled with arcane symbols and cryptic
    runes. You stand in between these two sections...
    </p>
    <div class="col-12">
      <form class="player-choices-form text-center">
        <button
          class="btn btn-danger choice-btn mb-1"
          id="choice1"
        >Got to Table</button>
        <button
          class="btn btn-danger choice-btn mb-1"
          id="choice2"
        >Go to door</button>
        <button
          class="btn btn-danger choice-btn mb-1"
          id="choice3"
        >Go to shelves</button>
        <button
          class="d-none btn btn-danger choice-btn mb-1"
          id="choice4"
        >Choice</button>
      </form>
    </div>
  </div>
  <div class="col-2 d-none d-sm-block text-center card inventory">
    <h2>{{name}}</h2>
    <img width="150" height="150" src="/images/avatars/avatar-{{avatar}}.png" />
    <div class="col">
      <h2 class="text-center">Inventory</h2>
      <div class="col d-flex flex-wrap justify-content-around">
      </div>
    </div>
  </div>

{{!-- <script src="/js/player-input.js"></script> --}}
{{!-- <script src="/js/roomDungeon.js"></script> --}}

<script src="/js/roomPotion.js"></script>