<div class="room-image">
  <img src="https://placehold.co/1000x500" alt="" class="room-image" />
</div>

<div class="game-text">
  <p id="nar">As you enter the room you see that it is virtually split into two.
    One side contains bookshelves all the wayt to the ceiling, filled with
    different books of all shapes and sizes. Immediately in front of the shelves
    are two small wooden tables whose surfaces are covered in open tomes. Across
    from small library you see a large table with shelves hanging above it. Upon
    the weathered wooden surface of the table, an array of flasks, an alembic,
    and a mortar and pestle catch the ambient light. Showcasing an assortment of
    colorful liquids. On the shelves above is a rainbow of more vibrant potion
    vials. Each container meticulously labeled with arcane symbols and cryptic
    runes. You stand in between these two sections...
  </p>
</div>

<div>
  <form class="player-choices-form">
    <button id="choice1" class="choice-btn">Go to the table</button>
    <button id="choice2" class="choice-btn">Go to the door</button>
    <button id="choice3" class="choice-btn">Go to the chest</button>
    <button id="choice4" class="d-none choice-btn">Choice</button>
  </form>
</div>

<script src="/js/roomPotion.js"></script>