<div class="row d-flex justify-content-center p-3">
  <div class="col-md-5 card p-3 m-2">
    <h2 class="text-center">Login</h2>

    <form class="form login-form">
      <div class="form-group mb-3">
        <label for="email-login" class="form-label">Username:</label>
        <input
          class="form-input form-control"
          type="text"
          id="username-login"
        />
      </div>
      <div class="form-group mb-3">
        <label for="password-login" class="form-label">Password:</label>
        <input
          class="form-input form-control"
          type="password"
          id="password-login"
        />
      </div>
      <div class="form-group text-center mb-3">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>

  <div class="col-md-5 card p-3 m-2">
    <h2 class="text-center">Signup</h2>

    <form class="form signup-form">
      <div class="form-group mb-3">
        <label for="name-signup" class="form-label">Username:</label>
        <input
          class="form-input form-control"
          type="text"
          id="username-signup"
        />
      </div>
      <div class="form-group mb-3">
        <label for="password-signup" class="form-label">Password:</label>
        <input
          class="form-input form-control"
          type="password"
          id="password-signup"
        />
      </div>
      <div class="form-group text-center mb-3">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>