<div class="room-image">
  <img
    src="https://placehold.co/1000x500"
    alt=""
    id="avatar-1"
    class="avatar"
  />
</div>

<div class="game-text">
  <p>This is where the game text narration will go</p>
</div>

<div>
  <form class="player-choices-form">
    <button class="choice-btn">Choice</button>
    <button class="choice-btn">Choice</button>
    <button class="choice-btn">Choice</button>
    <button class="choice-btn">Choice</button>
  </form>
</div>

<script src="/js/player-input.js"></script>