<div class="room-image">
  <img src="https://placehold.co/1000x500" alt="" class="room-image" />
</div>

<div class="game-text">
  <p id="nar">This is where the game text narration will go</p>
</div>

<div>
  <form class="player-choices-form">
    <button id="choice1" class="choice-btn">Choice</button>
    <button id="choice2" class="choice-btn">Choice</button>
    <button id="choice3" class="choice-btn">Choice</button>
    <button id="choice4" class="choice-btn">Choice</button>
  </form>
</div>

<script src="/js/player-input.js"></script>
<script src="/js/roomDungeon.js"></script>