<div class="room-image">
  <img src="https://placehold.co/1000x500" alt="" class="room-image" />
</div>

<div class="game-text">
  <p id="nar">You wake up in a dark room shackled to the wall. As you begin to look around your shackles vanish from your wrist. As
  your eyes begin to adjust to the dark room you stand up and realize you are in some kind of dungeon with cages and
  shackles along the opposite wall. There is a wooden table in front of you and is a couple feet away from you. You look
  to your right to see a chest that has a lock on it. You look to your left to see a door that could be an exit.</p>
</div>

<div>
  <form class="player-choices-form">
    <button id="choice1" class="choice-btn">Go to the table</button>
    <button id="choice2" class="choice-btn">Go to the door</button>
    <button id="choice3" class="choice-btn">Go to the chest</button>
    <button id="choice4" class="d-none choice-btn">Choice</button>
  </form>
</div>

<script src="/js/player-input.js"></script>
<script src="/js/roomDungeon.js"></script>
