<div class="row d-flex justify-content-between">
  <div class="col-md-2 card history">
    <h2 class="text-center d-none d-sm-block">History</h2>
  </div>
  <div class="col-md-6 d-flex flex-column align-items-center screen">
    <img class="game-screen mb-3" src="https://placeholder.co/700x500" />
    <p id="nar" class="card w-100">Game text goes here.</p>
    <div class="col-12">
      <form class="player-choices-form text-center">
        <button
          class="btn btn-success choice-btn mb-1"
          id="choice1"
        >Choice</button>
        <button
          class="btn btn-success choice-btn mb-1"
          id="choice2"
        >Choice</button>
        <button
          class="btn btn-success choice-btn mb-1"
          id="choice3"
        >Choice</button>
        <button
          class="btn btn-success choice-btn mb-1"
          id="choice4"
        >Choice</button>
      </form>
    </div>
  </div>
  <div class="col-2 d-none d-sm-block text-center card inventory">
    <h2>{{name}}</h2>
    <img width="150" height="150" src="/images/avatars/avatar-{{avatar}}.png" />
    <div class="col">
      <h2 class="text-center">Inventory</h2>
      <div class="col d-flex flex-wrap justify-content-around">
        <img
          class="m-1"
          width="75"
          height="75"
          src="https://placeholder.co/75"
        />
        <img
          class="m-1"
          width="75"
          height="75"
          src="https://placeholder.co/75"
        />
        <img
          class="m-1"
          width="75"
          height="75"
          src="https://placeholder.co/75"
        />
        <img
          class="m-1"
          width="75"
          height="75"
          src="https://placeholder.co/75"
        />
        <img
          class="m-1"
          width="75"
          height="75"
          src="https://placeholder.co/75"
        />
        <img
          class="m-1"
          width="75"
          height="75"
          src="https://placeholder.co/75"
        />
      </div>
    </div>
  </div>
</div>

<script src="/js/player-input.js"></script>