<h2>This is my game start page</h2>

<div id="avatar-picker-container">
  <img src="" alt="" id="avatar-1" class="avatar" />
  <img src="" alt="" id="avatar-2" class="avatar" />
  <img src="" alt="" id="avatar-3" class="avatar" />
  <img src="" alt="" id="avatar-4" class="avatar" />
  <img src="" alt="" id="avatar-5" class="avatar" />
</div>

<div>
  <form>
    <button id="start-game-btn">Start Game</button>
    <input id="character-name-field" type="text" value="The Stranger" />
  </form>
</div>