@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}
/* this takes away the disc for the radio form */
input[type="radio"] {
  -webkit-appearance: none;
}

input[type="radio"]:hover + img {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

input[type="radio"]:checked + img {
  outline: 5px solid black;
}

body {
  /* background-image: url("/images/art/bg.png"); */
  background-color: purple;
}

.choice-btn {
  width: 45%;
}

.typed-cursor {
  display: none;
}

.inventory,
.history {
  height: 80vh;
}

.history {
  overflow-y: scroll;
}

#title {
  font-family: "Creepster", sans-serif;
}

header {
  background-color: rgb(87, 1, 87);
}

#inv img {
  background-color: gray;
  border: 3px solid darkviolet;
  margin-bottom: 10px;
}

.avt {
  outline: 5px solid purple;
}

@media only screen and (max-width: 600px) {
  #game-screen img {
    width: 300px;
  }
}

/* #nar,
#intro-text {
  font-family: "VT323", monospace;
} */

/* .inventory {
  position: relative;
  right: 63px;
} */

/* main {
  margin-left: 250px;
  margin-right: 250px;
} */

/* header {
  position: relative;
  float: left;
  width: 200px;
  height: 100vh;
  background-color: #44f;
}

footer {
  position: relative;
  float: right;
  width: 200px;
  height: 100vh;
  background-color: #44f;
} */

/* .login-form {
  width: 400px;
}

.signup-form {
  width: 400px;
} */

/* #avatar-picker-container {
  height: 500px;
  width: 1001px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

/* .room-image {
  width: 500px;
  display: flex;
}

#start-container {
  display: block;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.start-game-form {
  margin-top: 10px;
  text-align: center;
}

.game-text {
  text-align: center;
}

.player-choices-form {
  display: flex;
  justify-content: space-evenly;
} */
